<h2>Thank You for Getting in Touch!</h2>
<hr class="divider">

<p>We appreciate your interest in my portfolio. Your message has been received, and I'll get back to you as soon as possible. Here are the details of your submission:</p>

<hr class="divider">

<p><strong>Name:</strong> {{ name }}</p>
<p><strong>Email:</strong> {{ email }}</p>
<p><strong>Phone:</strong> {{ phone }}</p>
<p><strong>Message:</strong> {{ message }}</p>

<hr class="divider">

<p>If your inquiry is urgent, you can reach me at +9779815719436. Otherwise, I will respond via email shortly.</p>

<hr class="divider">

<p>Best regards,</p>
<p>
    {{date1}}
</p>
